
<h1> Edit your Space</h1>

<h3><%=flash[:notice]%></h3>

<form action="/edit-space/<%= @space.id %>" method="post">
    <label for="name">
    Name
    <input type="text" name="space_name" value="<%= @space.space_name %>">
    </label>
    <br>
    <label for="description">
    Description
    <input type="text" name="description" value="<%= @space.description %>" >
    </label>
    <br>
    <label for="price">
    Price per night
    <input type="text" name="price" value="<%= @space.price %>" >
    </label>
    <br>
    <label for="availability_from">
    Availability from
    <br>
    <input type="date" id="availability_from" name="availability_from"
          value="<%=@current_start_date%>"
          min="<%=@today%>" max="2022-12-31">
    <br>
    <br>
    <label for="availability_to">
    Availability to
    <br>
    <input type="date" id="availability_to" name="availability_to"
          value="<%=@current_end_date%>"
          min="<%=@tomorrow%>" max="2022-12-31">
    <br>
    <input type="submit" value="Save">
  </form>
