
<h1> Edit your Space</h1>

<form action="/edit-space/<%= @space.id %>" method="post">
    <label for="name">
    Name
    <input type="text" name="space_name" value="<%= @space.space_name %>">
    </label>
    <br>
    <label for="description">
    Description
    <input type="text" name="description" value="<%= @space.description %>" >
    </label>
    <br>
    <label for="price">
    Price per night
    <input type="text" name="price" value="<%= @space.price %>" >
    </label>
    <br>
    <label for="availability_from">
    Availability from
    <input type="availability_from" name="availability_from" value="<%= @space.availability_from %>" >
    <br>
    <label for="availability_to">
    Availability to
    <input type="availability_to" name="availability_to" value="<%= @space.availability_to %>" >
    <br>
    <input type="submit" value="Save">
  </form>
