
<%# When user is NOT logged in  %>
<% if @user.nil?%>
  

<head>
  <title></title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>

<header>
  <a href = "/" class ="logo"> <img src="https://drive.google.com/uc?export=view&id=1UrxSj1DB0vrV_EgV_uVTbRARDo8HuA0g" alt="logo" width="70" height="57"></a>

<nav>

<ul class = "nav__links">

<li>
<form action="/login" method="get">
  <input id= 'button' type = "submit" value = "Login">
</form>
</li>
<li>
<form action="/login" method="get">
  <input id= 'button' type = "submit" value = "About">
</form>
</li>
</ul>

</nav>

</header>
<h1 id= "welcome" > Welcome to MakersBnB </h1>

  <h3><%=flash[:notice]%></h3>
  <br>

  <h3> Sign Up </h3>
<div id ="window">
  <form action="/sign-up" method="post">
    <label for="name">
    <p>Name:</p>
    <br>
    <input type="text" name="name">
    </label>
    <br>
    <label for="email">
    <p>Email:</p>
    <br>
    <input type="text" name="email">
    </label>
    <br>
    <label for="username">
    <p>Username:</p>
    <br>
    <input type="text" name="username">
    </label>
    <br>
    <label for="password">
    <p>Password:</p>
    <br>
    <input type="password" name="password">
    <br>
    <input id= button type="submit" value="Sign up">
  </form>
  </div>
  <%# When user IS logged in %>
<% else %>
<head>
  <title></title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>

<header>
  <a href = "/" class ="logo"> <img src="https://drive.google.com/uc?export=view&id=1UrxSj1DB0vrV_EgV_uVTbRARDo8HuA0g" alt="logo" width="70" height="57"></a>

<nav>

<ul class = "nav__links">



<li>
  <div class="dropdown">
  <button id= 'button' class="dropbtn">My spaces</button>
  <div class="dropdown-content">
  
  <form action = "/my-spaces">
  <input id= 'button' type = "submit" value = "View my spaces" >
  </form>
  
  <form action = "/new-space" method = 'get'>
    <input id= 'button' type = "submit" value = "List a Space" >
  </form>
  <form action = "/requests" method = 'get'>
    <input id= 'button' type = "submit" value = "Requests" >
  </form>
  </div>
</div>
</li>
<li>
  <form action="/about" method="get">
  <input id= 'button' type = "submit" value = "About">
  </form>
</li>
<li>
<form action="/settings" method="get">
    <input id= 'button' type = "submit" value = "Settings">
  </form>
</li>
<li>  
  <form action = "/log-out" method = 'post'>
  <input id = "button" type = "submit" value = "Log out" >
  </form>
</li>
</ul>

</nav>

</header>

  <h1>Welcome, <%=@user.name%></h1>
  <h3><%=flash[:notice]%></h3>
  
<div id= "window">
  <% @space.each do |space| %>
        <%= space.space_name %>
        <!-- space.tag -->
        £<%= space.price %>
        <br>
        <form method="get" action="/listing/<%=space.id %>">
          <input type="submit" value="View Listing">
        </form>
  <% end %>
  </div>
  

<% end %>

