<% if @user.nil?%>
  <h1> Welcome to MakersBnB </h1>
  <h3><%=flash[:notice]%></h3>

  <form action="/login" method="get">
    <input type = "submit" value = "Login">
  </form>

  <br>

  <h3> Sign Up </h3>

  <form action="/sign-up" method="post">
    <label for="name">
    Name
    <input type="text" name="name">
    </label>
    <br>
    <label for="email">
    Email
    <input type="text" name="email">
    </label>
    <br>
    <label for="username">
    Username
    <input type="text" name="username">
    </label>
    <br>
    <label for="password">
    Password
    <input type="password" name="password">
    <br>
    <input type="submit" value="Sign up">
  </form>
<% else %>
  <h1>Welcome, <%=@user.name%></h1>
  <h3><%=flash[:notice]%></h3>
  <form action = "/log-out" method = 'post'>
    <input type = "submit" value = "Log out" >
  </form>
  <form action = "/my-spaces">
  <input type = "submit" value = "View my spaces" >
  </form>
  <form action = "/new-space" method = 'get'>
    <input type = "submit" value = "List a Space" >
  </form>
  <form action = "/requests" method = 'get'>
    <input type = "submit" value = "Requests" >
  </form>
  <br>

  <ul>
  <% @space.each do |space| %>
    <li>
        <%= space.space_name %>
        <!-- space.tag -->
        £<%= space.price %>
        <br>
        <form method="get" action="/listing/<%=space.id %>">
          <input type="submit" value="View Listing">
        </form>
    </li>
  <% end %>
  </ul>

<% end %>
