      <h3> <%= @space.space_name %> </h3>
      <h4> <%= flash[:notice] %> </h4>
      Property description:
      <br>
      <%= @space.description %>
      <br>
      <br>
      Price:
      <br>
      £<%= @space.price %>
      <br>
      <form action="/booking/<%=@space.id%>" method="post">
        <br>
        Night to book:
        <br>
        <input type="date" id="booked_from" name="booked_from"
         value="<%=@start_date%>"
         min="<%=@start_date%>" max="<%=@end_date%>">
        <br>
        <br>
        <input type="submit" value="Request to book">
      </form>