      <h3> <%= @space.space_name %> </h3>
      <!-- IMAGE OF LISTING -->
      Property description:
      <br>
      <%= @space.description %>
      <br>
      <br>
      Price:
      <br>
      £<%= @space.price %>
      <br>
      <br>
      Available From:
      <br>
      <%= @space.availability_from %>
      <br>
      <br>
      Until:
      <%= @space.availability_to %>
      <br>
      <br>
      <form action="/booking/<%=@space.id%>" method="post">
        <input type="submit" value="Request to book">
      </form>