<head>
  <title></title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>

<header>
  <a href = "/" class ="logo"> <img src="https://drive.google.com/uc?export=view&id=1UrxSj1DB0vrV_EgV_uVTbRARDo8HuA0g" alt="logo" width="70" height="57"></a>

<nav>

<ul class = "nav__links">


<li>
  <form action="/about" method="get">
  <input id= 'button' type = "submit" value = "About">
  </form>
</li>

<li>
  <div class="dropdown">
  <button id= 'button' class="dropbtn">My spaces</button>
  <div class="dropdown-content">
  <form action = "/my-spaces">
  <input id= 'button' type = "submit" value = "View my spaces" >
  </form>
  <form action = "/new-space" method = 'get'>
    <input id= 'button' type = "submit" value = "List a Space" >
  </form>
  <form action = "/requests" method = 'get'>
    <input id= 'button' type = "submit" value = "Requests" >
  </form>
  </div>
</div>
</li>

</ul>

</nav>

</header>

<h1> Here is a list of <%= @user.name %>'s spaces: </h1>
<h3><%=flash[:notice]%></h3>
<div id ="window">
  <% @space.each do |space| %>
        <%= space.space_name %>
        <!-- space.tag -->
        £<%= space.price %>
        <br>
        <form action="/edit-space/<%= space.id %>">
          <input type="submit" value="Edit">
        </form>
        <form action="/delete-space/<%= space.id %>" method='post'>
          <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this item?');">
        </form>
  <% end %>
  </div>