<head>
  <title></title>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
</head>

<header>
  <a href = "/" class ="logo"> <img src="https://drive.google.com/uc?export=view&id=1UrxSj1DB0vrV_EgV_uVTbRARDo8HuA0g" alt="logo" width="70" height="57"></a>

<nav>

<ul class = "nav__links">



<li>
  <div class="dropdown">
  <button id= 'button' class="dropbtn">My spaces</button>
  <div class="dropdown-content">
  
  <form action = "/my-spaces">
  <input id= 'button' type = "submit" value = "View my spaces" >
  </form>
  
  <form action = "/new-space" method = 'get'>
    <input id= 'button' type = "submit" value = "List a Space" >
  </form>
  </div>
</div>
</li>
<li>
  <form action="/about" method="get">
  <input id= 'button' type = "submit" value = "About">
  </form>
</li>
<li>
<form action="/settings" method="get">
    <input id= 'button' type = "submit" value = "Settings">
  </form>
</li>
<li>  
  <form action = "/log-out" method = 'post'>
  <input id = "button" type = "submit" value = "Log out" >
  </form>
</li>
</ul>

</nav>

</header>
<h1> MakersBnB: <small>Requests</small></h1>
<div id ="R">
<div id= "RM">
<h3> Requests Made </h3>
<% @user_bookings.order(created_at: :desc).each do |booking| %>
  <a href="/listing/<%=booking.space_id %>">
    <%= Space.find_by_id(booking.space_id).space_name %> 
  </a>
  <br>
  <% if booking.accepted == nil %>
     <p>Status Pending</p>
  <% elsif booking.accepted == true %>
    <p>Status Approved</p>
  <% else %>
    <p>Status Denied</p>
  <% end %>
  <br>
  <p>Booking request sent at: <%= booking.created_at.strftime("%k:%M %d/%m/%Y") %></p>
  <br>
  <br>
<% end %>
</div>
<div id= "RR">
<h3> Requests Received </h3>
<% @user_requests.order(created_at: :asc).each do |booking| %>
  <a href="/listing/<%=booking.space_id %>">
    <%= Space.find_by_id(booking.space_id).space_name %>
  </a> <br>
   <p> <%= User.find_by_id(booking.user_id).username %> requested to book the night of: <%= booking.booked_from.split("-").reverse.join("/") %>
    <br>
    Request made at: <%= booking.created_at.strftime("%k:%M %d/%m/%Y") %></p>
  <% if booking.accepted == nil %>
  <form class="request" action="/accept-or-reject/<%= booking.id %>" method="post">
    <input type="submit" name="outcome" value="Accept">
    <input type="submit" name="outcome" value="Decline">
  </form>
  <% elsif booking.accepted == true %>
    <p style="color: green"> This booking has been accepted! </p>
  <% else %>
    <p style="color: red"> This booking has been denied! </p>
  <% end %>
  <br>
  <br>
<% end %>
</div>
</div>